<mat-toolbar color="primary">
    <div fxHide.gt-xs>
      <button mat-icon-button (click)="onClickToggle()" >
      <mat-icon>menu</mat-icon>
    </button>
  </div>
    <div><a routerLink="/"> Prime Fitness</a></div>
    <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
      <ul fxLayout class="navItems" fxLayoutGap="10px" >
        <li *ngIf="!isAuth"><a routerLink="/signup">SignUp</a></li>
        <li *ngIf="!isAuth"><a routerLink="/login">Login</a></li>
        <li *ngIf="isAuth"><a routerLink="/training">Training</a></li>
        <li *ngIf="isAuth"><a class="logout" (click)="onLogout()">Logout</a></li>
      </ul>
    </div>

  </mat-toolbar>